<div class="card my-5">
  <div class="card-body">
    <div *ngIf="pets.length == 0">There is no pet</div>

    <div *ngIf="pets.length > 0">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pet of pets">
          <td>{{ pet.id }}</td>
          <td>{{ pet.name }}</td>
          <td>{{ pet.age }}</td>
          <td>
            <button type="button" class="btn btn-danger" (click)="delete(pet.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
